<div class="sidebar_wrap">
	<ul class="sidebar_box">
				<li><a href=""><span class="sidebar_box_label">General</span></a></li>
				<li><a href="#"><i class="fa fa-tachometer"></i><span>Dashboard</span></a></li>
				<li><a href="#"><i class="fa fa-cogs"></i><span>Setting</span></a></li>
				<li><a href="#"><i class="fa fa-envelope"></i><span>Email</span></a></li>
			</ul>
			<ul class="sidebar_box">
				<li><a href=""><span class="sidebar_box_label">Manage</span></a></li>
				<li><a href="#"><i class="fa fa-users"></i><span>Users</span></a></li>
				<li><a href="#"><i class="fa fa-book"></i><span>Courses</span><i class="fa fa-angle-down pull-right"></i></a></li>
				<li><a href="#"><i class="fa fa-user"></i><span>Instructor</span><i class="fa fa-angle-down pull-right"></i></a></li>
				<li><a href="#"><i class="fa fa-sitemap"></i><span>Categories</span><i class="fa fa-angle-down pull-right"></i></a></li>
				<li><a href="#"><i class="fa fa-calendar"></i><span>Events</span></a></li>
				<li><a href="#"><i class="fa fa-user-circle"></i><span>Roles &amp; Permissions</span></a></li>
			</ul>
			<ul class="sidebar_box">
				<li><a href=""><span class="sidebar_box_label">View</span></a></li>
				<li><a href="#"><i class="fa fa-bar-chart"></i><span>Reports</span></a></li>
				<li><a href="#"><i class="fa fa-certificate"></i><span>Certificates &amp; Badges</span></a></li>
				<li><a href="#"><i class="fa fa-bell"></i><span>Notifications</span></a></li>
			</ul>
		</div>