<div class="title_heading">				
	<div class="col-md-4 col-sm-4">
		<div class="title_text">
			<i class="fa fa-list" aria-hidden="true"></i>Course Detail
		</div>
		</div>
		<div class="col-md-8 col-sm-8">
			<div class="welcome_message alert" role="alert">
				<i class="fa fa-info"></i>Welcome back, <strong>Dave Mattew!</strong> You last sign in at 16:54 PM on 09/20/2018
				 <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			</div>
		</div>
		<div class="clearfix"></div>
		<div class="breadcrumb_block">
			<div class="col-md-6 col-sm-6">
				<ul class="breadcrumb">
					<li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i></a></li>
					<li class="breadcrumb-item"><a href="#">Courses</a></li>
					<li class="breadcrumb-item active" aria-current="page">Angular</li>
				</ul>
				<div class="clearfix"></div>
			</div>
			<div class="col-md-6 col-sm-6">
				
			</div>
			<div class="clearfix"></div>
		</div>
	<div class="clearfix"></div>
</div>
<div class="content_block course_detail_block">
   <div class="col-md-9 col-sm-9">
		<h1 class="no_margin">Angular</h1>
	   <div class="stars_block"><a href=""><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o" aria-hidden="true"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i></a>| <a href="" class="review_link">Write a Review</a></div>
	   <div class="clearfix"></div>
	   <p class="padding_15"><video width="350" height="200" controls class="pull-left video_margin" poster="../assets/images/video.jpg"><source src="../assets/images/angular.mp4" type="video/mp4">Your browser does not support HTML5 video.</video>Angular is a TypeScript-based open-source front-end web application platform led by the Angular Team at Google and by a community of individuals and corporations. Angular is a complete rewrite from the same team that built AngularJS. Originally, the rewrite of AngularJS was called "Angular 2" by the team, but this led to confusion among developers. To clarify, the team announced that separate terms should be used for each framework with "AngularJS" referring to the 1.X versions and "Angular" without the "JS" referring to versions 2 and up.</p>
	   <p class="padding_30">Architecture of an Angular application. The main building blocks are modules, components, templates, metadata, data binding, directives, services and dependency injection.</p>
	   <div class="clearfix"></div>
	   <div class="course_tabs">
		  <ul class="nav nav-tabs" role="tablist">
			<li role="course" class="active"><a href="#Features" aria-controls="Features" role="tab" data-toggle="tab">Features</a></li>
			<li role="course"><a href="#whatget" aria-controls="whatget" role="tab" data-toggle="tab">What do you get?</a></li>
			<li role="course"><a href="#Target" aria-controls="Target" role="tab" data-toggle="tab">Target Audience</a></li>
			<li role="course"><a href="#More" aria-controls="More" role="tab" data-toggle="tab">More</a></li>
		  </ul>
		  <div class="tab-content">
			<div role="tabpanel" class="tab-pane active" id="Features">
				<ul class="list_li width_li30">
					<li>29.5 hours on-demand video</li>
					<li>10 Articles</li>
					<li>Full lifetime access</li>
					<li>38 Downloadable resources</li>
					<li>Assignments</li>
					<li>100+ Lectures</li>
					<li>30 day money back guarantee!</li>
					<li>100% Online &amp; Self-Paced</li>
					<li>Course Completion Certificate</li>
				</ul>
				 <div class="clearfix"></div>
			</div>
			<div role="tabpanel" class="tab-pane" id="whatget">
				<p class="padding_15">Angular is one of the most popular frameworks for building client apps with HTML, CSS and TypeScript. If you want to establish yourself as a front-end or a full-stack developer, you need to learn Angular.By the end of watching this course, you'll be able to:</p>
				<ul class="list_li">
					<li>Establish yourself as a skilled professional developer</li>
					<li>Troubleshoot common Angular errors</li>
					<li>Write clean and elegant code like a professional developer</li>
					<li>Build real-world Angular applications on your own</li>
					<li>Apply best practices when building Angular apps </li>
				</ul> 
				 <div class="clearfix"></div>
			</div>
			<div role="tabpanel" class="tab-pane" id="Target">
				<ul class="list_li">
					<li>Developers who want to upgrade their skills and get better job opportunities</li>
					<li>Front-end developers who want to stay up-to-date with the latest technology</li>
					<li>Back-end developers who want to learn front-end development and become full-stack developers</li>
					<li>Hobbyist developers who are passionate about working with new frameworks</li>
				</ul>  
				 <div class="clearfix"></div>
			 </div>
			<div role="tabpanel" class="tab-pane" id="More"><p class="padding_15">Angular has been written in TypeScript. So,you'll learn the fundamentals of TypeScript and object-oriented programming to better understand and appreciate this powerful framework.You'll learn how to apply best practices, refactor your code and produce high quality code like a professional developer. If you're more adventurous and want to learn more, there is far more content for you! Over the following sections, you'll learn about more advanced topics: </p>
				<ul class="list_li">
					<li>Building real-time, server-less apps with Firebase </li>
					<li>Animating DOM elements using Angular animations</li>
					<li>Building beautiful UIs using Angular Material</li>
					<li>Implementing the Redux architecture </li>
					<li>Writing unit and integration tests </li>
					<li>Course Completion Certificate</li>
				</ul>
				 <div class="clearfix"></div>
			  </div>
		  </div>
		   <div class="clearfix"></div>
		</div>
	   <div class="clearfix"></div>
	   <div class="course_forum_block">
	   	<h3 class="pull-left">Discussion board</h3>
		   <button class="next_btn pull-right">Start new Discussion</button>
		   <div class="clearfix"></div>
		   <div class="forum_box">
		   	<div class="img_icon"><img src="../assets/images/guy-7.jpg" alt="" class="img-responsive"/></div>
			   <div class="content_name">
				   <div class="name">Michal Delura</div>
				   <div class="content">the parameter of onChange(course) method, course, is passed by reference?</div>
				   <div class="reply_time"><a href=""><i class="fa fa-comments"></i> 12 Comments</a> | <a href="#"><i class="fa fa-reply"></i> Reply</a><span class="pull-right"><i class="fa fa-clock-o"></i> 5 mins</span></div>
			   </div>
			    <div class="forum_box inner_forum">
				<div class="img_icon">TB</div>
				   <div class="content_name">
					   <div class="name">Troy Bryant</div>
					   <div class="content">Um if I understand you when you find and change the name you want to change the rest of the object that belongs to the name you just found</div>
					   <div class="reply_time"><a href=""><i class="fa fa-comments"></i> 2 Comments</a> | <a href="#"><i class="fa fa-reply"></i> Reply</a><span class="pull-right"><i class="fa fa-clock-o"></i> Yesterday | 3:10pm</span></div>
				   </div>
					<div class="forum_box inner_forum">
				<div class="img_icon"><img src="../assets/images/guy-8.jpg" alt="" class="img-responsive"/></div>
				   <div class="content_name">
					   <div class="name">Rick Brown</div>
					   <div class="content">Yes, This is the correct way i know. I am asking for parameter passing mechanism that i do not know how angular handles it.</div>
					   <div class="reply_time"><span class="pull-right"><i class="fa fa-clock-o"></i> 17 Sept 2018 | 6:10pm</span></div>
				   </div>
			   </div>
					<div class="forum_box inner_forum">
				<div class="img_icon"><img src="../assets/images/guy-8.jpg" alt="" class="img-responsive"/></div>
				   <div class="content_name">
					   <div class="name">Rick Brown</div>
					   <div class="content">thanks</div>
					   <div class="reply_time"><span class="pull-right"><i class="fa fa-clock-o"></i> 17 Sept 2018 | 6:15pm</span></div>
				   </div>
			   </div>
			   </div>
			   <div class="forum_box inner_forum">
				<div class="img_icon">SG</div>
				   <div class="content_name">
					   <div class="name">Shane Griffin</div>
					   <div class="content">How to make a form downloadable to .doc type on button click</div>
					   <div class="reply_time"><a href=""><i class="fa fa-comments"></i> 5 Comments</a> | <a href="#"><i class="fa fa-reply"></i> Reply</a><span class="pull-right"><i class="fa fa-clock-o"></i> 16 Sept 2018 | 4:15pm</span></div>
				   </div>
			   </div>
		   </div>
		   <div class="forum_box">
		   	<div class="img_icon"><img src="../assets/images/guy-9.jpg" alt="" class="img-responsive"/></div>
			   <div class="content_name">
				   <div class="name">Sara Fecadu</div>
				   <div class="content">Cannot implement AuthHttp</div>
				   <div class="reply_time"><a href=""><i class="fa fa-comments"></i> 6 Comments</a> | <a href="#"><i class="fa fa-reply"></i> Reply</a><span class="pull-right"><i class="fa fa-clock-o"></i> 15 Sept 2018 | 5:10pm</span></div>
			   </div>
		   </div>
		   <div class="forum_box">
		   	<div class="img_icon">MT</div>
			   <div class="content_name">
				   <div class="name">Michael Tilahun</div>
				   <div class="content">the name which we give in app.module is it a name of a component or component class name</div>
				   <div class="reply_time"><a href=""><i class="fa fa-comments"></i> 3 Comments</a> | <a href="#"><i class="fa fa-reply"></i> Reply</a><span class="pull-right"><i class="fa fa-clock-o"></i> 12 Sept 2018 | 8:12am</span></div>
			   </div>
		   </div>
		  <div class="text-center"><button class="back_btn">View All</button></div>
	   </div>
	   <div class="clearfix"></div>
	   <div class="course_forum_block">
	   	<h3 class="pull-left">Reviews (3.5 out of 5)</h3>
		   <button class="next_btn pull-right">Write a Review</button>
		   <div class="clearfix"></div>
		   <div class="forum_box">
		   	<div class="img_icon"><img src="../assets/images/guy-7.jpg" alt="" class="img-responsive"/></div>
			   <div class="content_name">
				   <div class="name">Michal Delura</div>
				   <div class="content">I found this course very thorough. Each topic is explained in detail, with sufficient examples and exercises to practice.</div>
				   <div class="reply_time"><span class="star_review"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o" aria-hidden="true"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i></span><span class="pull-right"><i class="fa fa-clock-o"></i> 5 mins</span></div>
			   </div>
		   </div>
		   <div class="forum_box">
		   	<div class="img_icon">RW</div>
			   <div class="content_name">
				   <div class="name">Ralph Wiest</div>
				   <div class="content">Excellent course at the perfect pace with an excellent outline of building on concepts from basic to advanced.</div>
				     <div class="reply_time"><span class="star_review"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i></span><span class="pull-right"><i class="fa fa-clock-o"></i> 30 mins</span></div>
			   </div>
		   </div>
		   <div class="forum_box">
		   	<div class="img_icon">AS</div>
			   <div class="content_name">
				   <div class="name">Airi Satou</div>
				   <div class="content">Very enjoyable and concise course, led by an engaging and experienced instructor.</div>
				    <div class="reply_time"><span class="star_review"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o" aria-hidden="true"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i></span><span class="pull-right"><i class="fa fa-clock-o"></i> 1 days</span></div>
			   </div>
		   </div>
		  <div class="text-center"><button class="back_btn">View All</button></div>
	   </div>
	</div>
	<div class="col-md-3 col-sm-3">
		<div class="course_right">
			<p class="padding_15"> <strong><i class="fa fa-clock-o"></i> Duration:</strong> 4 hrs<br>
			<strong><i class="fa fa-calendar"></i> Posted On:</strong> 18 September 2018 <br>
 			<strong><i class="fa fa-user"></i> Instructor:</strong> Adrian Demian <br>
  			<strong><i class="fa fa-graduation-cap"></i> Max. students:</strong> 50 <br>
			  <strong><i class="fa fa-check"></i> Attending:</strong> 30</p>
			  <h2 *ngIf="paypalLoad">Paypal button is loading</h2>
			<div class="text-center">
				<div id="paypal-checkout-btn"></div>
				<!-- <a id="paypal-checkout-btn" class="next_btn">Register</a> -->
		</div>
		</div>
		<div class="clearfix"></div>
		<div class="instrutor_right">
			<h3><img src="../assets/images/guy-6.jpg" alt="" class="img-responsive"/>Adrian Demian<span>Biography</span></h3>
			<p>Adrian Demian is a passionate and creative software engineer with a strong focus on pragmatism and simplicity. He started programming at the age of seven on a Commodore 64. Later, during his high school years, he started learning C and C++ .</p>
		</div>
		<div class="clearfix"></div>
		<div class="related_course">
			<h3>Related Courses</h3>
			<ul>
				<li><i class="fa fa-graduation-cap"></i><a href="#" class="title">Node.js</a><div class="stars_block"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i></div></li>
				<li><i class="fa fa-graduation-cap"></i><a href="#" class="title">HTML5 : Beginner to Advanced</a><div class="stars_block"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o" aria-hidden="true"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i></div></li>
				<li><i class="fa fa-graduation-cap"></i><a href="#" class="title">RESTful Web services</a><div class="stars_block"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o" aria-hidden="true"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i></div></li>
				<li><i class="fa fa-graduation-cap"></i><a href="#" class="title">Master ASP.NET Core MVC 2.0</a><div class="stars_block"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i></div></li>
				<li><i class="fa fa-graduation-cap"></i><a href="#" class="title">Angular 4</a><div class="stars_block"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o" aria-hidden="true"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i></div></li>
			</ul>
		</div>
	</div>
	<div class="clearfix"></div>
</div>
<div class="clearfix"></div>