

<div class="title_heading">
  <div class="col-md-4 col-sm-4">
    <div class="title_text">
      <i class="fa fa-list" aria-hidden="true"></i>instructor-course-form
    </div>
  </div>
  <div class="col-md-8 col-sm-8">
    <div class="welcome_message alert" role="alert">
      <i class="fa fa-info"></i>Welcome back, <strong>Super Admin!</strong> You last sign in at 16:54 PM on 09/20/2018
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="breadcrumb_block">
    <div class="col-md-6 col-sm-6">
      <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i></a></li>
        <li class="breadcrumb-item"><a href="#">Courses</a></li>
        <li class="breadcrumb-item active" aria-current="page">instructor-course-form</li>
      </ul>
      <div class="clearfix"></div>
    </div>
    <div class="col-md-6 col-sm-6">

    </div>
    <div class="clearfix"></div>
  </div>
  <div class="clearfix"></div>
</div>
<div class="content_block course_detail_block">
  <div class="col-md-12 col-sm-12">
    <div class="course_details">
      <div class="mydivs">
        <div *ngIf="!secondform">
            <form  #courseForm="ngForm">
          <div class="row">
            <div class="col-md-12 col-sm-12">
              
                <h1 class="no_margin">Course Form Detail</h1>
                
                <div class="course_forum_block">
                  <div class="row">
                    <div class="col-md-6 col-sm-6">
                      <div class="form-group">
                        <label><span>*</span>Category</label>
                        <select class="form-control"  name="Category">
                          <option></option>
                          <option>HTML</option>
                          <option>Css</option>
                          <option>Php</option>
                          <option>Angular</option>
                          <option>Wordpress</option>
                          <option>Managment</option>
                          <option>Design</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                      <div class="form-group">
                        <label><span>*</span>Course Name </label>
                        <input type="text" class="form-control" name="CourseName"/>
                      </div>
                    </div>
                  </div>
                  <div class="clearfix"></div>
                  <div class="row">
                    <div class="col-md-6 col-sm-6">
                      <div class="form-group file_upload">
                        <label><span>*</span>Image Upload</label>
                        <input type="text" disabled class="form-control" />
                        <input type="file" name="fileToUpload" id="fileToUpload" class="form-control" />
                      </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                      <div class="form-group file_upload">
                        <label><span>*</span>Media Upload</label>
                        <input type="text" disabled class="form-control" />
                        <input type="file" name="mediaUpload" id="mediaUpload" class="form-control" />
                      </div>
                    </div>
                  </div>
                  <div class="clearfix"></div>
                  <div class="row">
                    <div class="col-md-12 col-sm-12">
                      <div class="form-group">
                        <label for="exampleFormControlTextarea1">Description</label>
                        <textarea id="test" class="form-control rounded-0" ></textarea>
                      </div>
                    </div>
                  </div>
                  <div class="clearfix"></div>
                  <div class="row">
                    <div class="col-md-4 col-sm-4">
                      <div class="form-group">
                        <label><span>*</span>Course Date </label>
                        <input type="text" class="form-control" name="CourseName" />
                      </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                      <div class="form-group">
                        <label><span>*</span>Course Time </label>
                        <input type="text" class="form-control" name="CourseName" />
                      </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                      <div class="form-group">
                        <label><span>*</span>Max. Student </label>
                        <input type="text" class="form-control" name="CourseName" />
                      </div>
                    </div>
                  </div>
                  <div class="clearfix"></div>
                  <div class="row">
                    <div class="col-md-12 col-sm-12 coursetab_info">
                      <div class="course_tabs">
                        <ul class="nav nav-tabs" role="tablist">
                          <li role="course" class="active"><a href="#Features" aria-controls="Features" role="tab"
                              data-toggle="tab">Features</a></li>
                          <li role="course"><a href="#whatget" aria-controls="whatget" role="tab" data-toggle="tab">What
                              do
                              I get?</a></li>
                          <li role="course"><a href="#Target" aria-controls="Target" role="tab" data-toggle="tab">Target
                              Audience</a></li>
                          <li role="course"><a href="#More" aria-controls="More" role="tab" data-toggle="tab">More</a></li>
                        </ul>
                        <div class="tab-content">
                          <div role="tabpanel" class="tab-pane active" id="Features">
                            <div class="form-group focused ckeditor_block editor">
                              <label>
                                <span>*</span>Email Body</label>
                              <textarea class="form-control" name="EmailBody" id="EmailBody" rows="10" cols="60"
                                contenteditable="true"></textarea>
                            </div>
                            <div class="clearfix"></div>
                          </div>
                          <div role="tabpanel" class="tab-pane" id="whatget">
                            <div class="form-group focused ckeditor_block editor">
                              <label>
                                <span>*</span>Email Body</label>
                              <textarea class="form-control" name="EmailBody2" id="EmailBodyW" rows="10" cols="60"
                                contenteditable="true"></textarea>
                            </div>
                            <div class="clearfix"></div>
                          </div>
                          <div role="tabpanel" class="tab-pane" id="Target">
                            <div class="form-group focused ckeditor_block editor">
                              <label>
                                <span>*</span>Email Body</label>
                              <textarea class="form-control" name="EmailBody3" id="EmailBodyT" rows="10" cols="60"
                                contenteditable="true"></textarea>
                            </div>
                            <div class="clearfix"></div>
                          </div>
                          <div role="tabpanel" class="tab-pane" id="More">
                            <div class="form-group focused ckeditor_block editor">
                              <label>
                                <span>*</span>Email Body</label>
                              <textarea class="form-control" name="EmailBody4" id="EmailBodyM" rows="10" cols="60"
                                contenteditable="true"></textarea>
                            </div>
                            <div class="clearfix"></div>
                          </div>
                        </div>
                        <div class="clearfix"></div>
                      </div>
                      <div class="clearfix"></div>
                    </div>
                  </div>
                </div>
                <div class="clearfix"></div>
             
            </div>
          </div>

          <div class="row">
            <div class="col-md-12 col-sm-12  text-center">
              <!-- <button class="submit_btn next_btn" name="next">prev</button> -->
              <button (click)="next_btn()" class="submit_btn back_btn" name="prev">Next</button>
            </div>
          </div>
        </form>
        </div>
        <div *ngIf="secondform">
          <div class="row">
            <div class="col-md-12 col-sm-12">
              <form>
                <div class="col-md-12 col-sm-12">
                  <div class="row">
                    <div class="pull-left">
                      <h1 class="no_margin">Course Content Form Detail</h1>
                    </div>
                    <div class="pull-right">
                      <button (click)="back_btn()" class="next_btn" name="next">Back</button>
                    </div>
                  </div>
                </div>
                <div class="clearfix"></div>
                <div class="course_forum_block">
                  <div id="clonedInput1" class="clonedInput" *ngFor="let form of CourseFormList; let i=index; let first=first">
                    <div class="row">
                      <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                          <label><span>*</span>Course Content Name </label>
                          <input type="text" class="form-control" name="CourseName" required />
                        </div>
                      </div>
                      <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                          <label><span>*</span>Course Time </label>
                          <input type="text" class="form-control" name="CourseName" required />
                        </div>
                      </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="row">
                      <div class="col-md-12 col-sm-12 ckeditor">
                        <div class="form-group focused ckeditor_block editor">
                          <label>
                            <span>*</span>Email Body</label>
                          <textarea class="form-control" name="EmailBody" id="EmailBody{{i+1}}" rows="10" cols="60"
                            contenteditable="true"></textarea>
                        </div>
                      </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="row fileupload_block">
                      <div class="col-md-6 col-sm-6">
                        <div class='content'>
                          <form action="upload.php" class="dropzone" id="dropzonewidget">
                            <div class="dz-message" data-dz-message><span><i class="fa fa-file-text" aria-hidden="true"></i>
                                Upload your file here</span></div>
                          </form>
                        </div>
                      </div>
                      <div class="col-md-6 col-sm-6">
                        <div class='content'>
                          <form action="upload.php" class="dropzone" id="dropzonewidget">
                            <div class="dz-message" data-dz-message><span><i class="fa fa-picture-o" aria-hidden="true"></i>Upload
                                your media here</span></div>
                          </form>
                        </div>
                      </div>
                    </div>
                    <div class="clearfix"></div>
                    <div (click)="DeleteCourseForm(form)" *ngIf="!first" class="alert-close">×</div>
                  </div>
                </div>
                <div class="clearfix"></div>
                <div class="row">
                  <div class="col-md-12 col-sm-12 text-center">
                    <div class="actions">
                      <button (click)="AddCourseForm()" class="clone back_btn">Add</button>
                      <!-- <button class="remove next_btn">Remove</button> -->
                    </div>
                  </div>
                </div>

                <div class="clearfix"></div>

              </form>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 col-sm-12  text-center">
              <div class="submit_btn"><a href="#" class="back_btn">Submit</a></div>
            </div>
          </div>
          <!-- <div class="row">
            <div class="col-md-12 col-sm-12  text-center">
              <button class="submit_btn next_btn" name="next">prev</button>
              <button class="submit_btn back_btn" name="prev">Next</button>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>