<div class="go_top"><i class="fa fa-angle-double-up"></i></div>
<div class="clearfix"></div>
<footer>
	<div class="col-md-6 col-sm-12 text-left">© 2018 <a href="#" target="_blank">Learning Management System</a></div>
	<div class="col-md-6 col-sm-12 text-right">Powered by <a href="http://www.theopeneyes.com/" target="_blank" title="Open in new window">OpenEyes
			Technologies, Inc.</a></div>
	<div class="clearfix"></div>
</footer>
<div class="clearfix"></div>



<div class="option-heading">
	<span>Dashboadr General User</span>
	<span class="arrow-up">&#9650;</span>
	<span class="arrow-down is-hidden">&#9660;</span>
</div>
<div class="optioncontent is-hidden">
	<div class="header_content">
		<div class="pull-left"><span>20 Screens</span></div>
	</div>
	<div class="clearfix"></div>
	<div class="dashboard_wrapper">
		<div class="linkup_wrapper">
			<div class="container">
				<div class="row">
					<div class="col-md-12 col-sm-12">
						<div class="linkup_section admin_linkup">
							<div class="padding_carousel">
								<div class="owl-carousel-bottom">
									<div class="owl-item">
										<div class="box-shadow-item">
											<img src="../assets/images/carousel.png" class="img-responsive" alt="" />
											<div class="figercaption text-center">
												<span><a href="#">View Screen</a></span>
											</div>
											<div class="screen_title">
												Login
											</div>
										</div>
									</div>
									<div class="owl-item">
										<div class="box-shadow-item">
											<img src="../assets/images/carousel.png" class="img-responsive" alt="" />
											<div class="figercaption text-center">
												<span><a href="#">View Screen</a></span>
											</div>
											<div class="screen_title">
												Login
											</div>
										</div>
									</div>
									<div class="owl-item">
										<div class="box-shadow-item">
											<img src="../assets/images/carousel.png" class="img-responsive" alt="" />
											<div class="figercaption text-center">
												<span><a href="#">View Screen</a></span>
											</div>
											<div class="screen_title">
												Login
											</div>
										</div>
									</div>
									<div class="owl-item">
										<div class="box-shadow-item">
											<img src="../assets/images/carousel.png" class="img-responsive" alt="" />
											<div class="figercaption text-center">
												<span><a href="#">View Screen</a></span>
											</div>
											<div class="screen_title">
												Login
											</div>
										</div>
									</div>
									<div class="owl-item">
										<div class="box-shadow-item">
											<img src="../assets/images/carousel.png" class="img-responsive" alt="" />
											<div class="figercaption text-center">
												<span><a href="#">View Screen</a></span>
											</div>
											<div class="screen_title">
												Login
											</div>
										</div>
									</div>
									<div class="owl-item">
										<div class="box-shadow-item">
											<img src="../assets/images/carousel.png" class="img-responsive" alt="" />
											<div class="figercaption text-center">
												<span><a href="#">View Screen</a></span>
											</div>
											<div class="screen_title">
												Login
											</div>
										</div>
									</div>
									<div class="owl-item">
										<div class="box-shadow-item">
											<img src="../assets/images/carousel.png" class="img-responsive" alt="" />
											<div class="figercaption text-center">
												<span><a href="#">View Screen</a></span>
											</div>
											<div class="screen_title">
												Login
											</div>
										</div>
									</div>
									<div class="owl-item">
										<div class="box-shadow-item">
											<img src="../assets/images/carousel.png" class="img-responsive" alt="" />
											<div class="figercaption text-center">
												<span><a href="#">View Screen</a></span>
											</div>
											<div class="screen_title">
												Login
											</div>
										</div>
									</div>
									<div class="owl-item">
										<div class="box-shadow-item">
											<img src="../assets/images/carousel.png" class="img-responsive" alt="" />
											<div class="figercaption text-center">
												<span><a href="#">View Screen</a></span>
											</div>
											<div class="screen_title">
												Login
											</div>
										</div>
									</div>
									<div class="owl-item">
										<div class="box-shadow-item">
											<img src="../assets/images/carousel.png" class="img-responsive" alt="" />
											<div class="figercaption text-center">
												<span><a href="#">View Screen</a></span>
											</div>
											<div class="screen_title">
												Login
											</div>
										</div>
									</div>
									<div class="owl-item">
										<div class="box-shadow-item">
											<img src="../assets/images/carousel.png" class="img-responsive" alt="" />
											<div class="figercaption text-center">
												<span><a href="#">View Screen</a></span>
											</div>
											<div class="screen_title">
												Login
											</div>
										</div>
									</div>
									<div class="owl-item">
										<div class="box-shadow-item">
											<img src="../assets/images/carousel.png" class="img-responsive" alt="" />
											<div class="figercaption text-center">
												<span><a href="#">View Screen</a></span>
											</div>
											<div class="screen_title">
												Login
											</div>
										</div>
									</div>
								</div>
								<div class="clearfix"></div>
							</div>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
	<div class="clearfix"></div>
	<div class="alert-close">×</div>
</div>