<div class="top_header">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-sm-9 col-xs-9 text-left">
				<a class="logo_lms"><img src="../assets/images/logo.png" class="img-responsive" alt="" />
					<!-- <span>All Screens</span> -->
				</a>
			</div>
			<div class="col-md-6 col-sm-3 col-xs-3 text-right">
				<a class="logo_oe"><img src="../assets/images/landing_logo.png" class="img-responsive" alt="" /></a>
			</div>
		</div>
	</div>
</div>
<div class="clearfix"></div>
<div class="linkup_wrapper">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<div class="header_title">
					<h3><i class="fa fa-desktop" aria-hidden="true"></i> All Screens</h3>
				</div>
				<div class="linkup_section profile_linkup active_slider_profile">
					<div class="linkup_header">
						<div class="border_h2">
							<h2>Welcome and Profile Section <span class="number">5</span></h2>
							<div class="plus-minus" data-toggle="collapse" href="#collapseprofile" aria-expanded="false" aria-controls="collapseprofile"><span
								 data-toggle="tooltip" data-placement="top" title="Expand/Collapse Section"></span></div>
							<!-- <div class="expand expand_profile"><span data-toggle="tooltip" data-placement="top" title="View all Screens"></span></div> -->
						</div>
					</div>
					<div class="clearfix"></div>
					<div class="padding_carousel collapse in" id="collapseprofile">
						<div class="expand expand_profile"><span data-toggle="tooltip" data-placement="top" title="View all Screens"></span></div>
						<div class="slider_profile owl-carousel-profile">
							<div class="owl-item">
								<div class="box-shadow-item">
									<img src="../assets/images/welcom.jpg" class="img-responsive" alt="" />
									<div class="figercaption text-center">
										<span><a href="/welcome">View
												Screen</a></span>
									</div>
									<div class="screen_title">
										Welcome
									</div>
								</div>
							</div>
							<div class="owl-item">
								<div class="box-shadow-item">
									<img src="../assets/images/register.jpg" class="img-responsive" alt="" />
									<div class="figercaption text-center">
										<span><a href="/register-instructor">View
												Screen</a></span>
									</div>
									<div class="screen_title">
										Register
									</div>
								</div>
							</div>
							<div class="owl-item">
								<div class="box-shadow-item">
									<img src="../assets/images/login.jpg" class="img-responsive" alt="" />
									<div class="figercaption text-center">
										<span><a href="/login">View Screen</a></span>
									</div>
									<div class="screen_title">
										Login
									</div>
								</div>
							</div>
							<div class="owl-item">
								<div class="box-shadow-item">
									<img src="../assets/images/forgot.jpg" class="img-responsive" alt="" />
									<div class="figercaption text-center">
										<span><a href="/forgot-password">View
												Screen</a></span>
									</div>
									<div class="screen_title">
										Forgot Password
									</div>
								</div>
							</div>
							<div class="owl-item">
								<div class="box-shadow-item">
									<img src="../assets/images/editprofile.jpg" class="img-responsive" alt="" />
									<div class="figercaption text-center">
										<span><a href="/edit-profile">View Screen</a></span>
									</div>
									<div class="screen_title">
										Edit Profile
									</div>
								</div>
							</div>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
				<div class="linkup_section admin_linkup active_slider_admin">
					<div class="linkup_header">
						<div class="border_h2">
							<h2>Admin Section <span class="number">2</span></h2>
							<div class="plus-minus" data-toggle="collapse" href="#collapseadmin" aria-expanded="false" aria-controls="collapseadmin"><span
								 data-toggle="tooltip" data-placement="top" title="Expand/Collapse Section"></span></div>
							<!-- <div class="expand expand_admin"><span data-toggle="tooltip" data-placement="top" title="View all Screens"></span></div> -->
						</div>
					</div>
					<div class="clearfix"></div>
					<div class="padding_carousel collapse in" id="collapseadmin">
						<div class="expand expand_admin"><span data-toggle="tooltip" data-placement="top" title="View all Screens"></span></div>
						<div class="slider_admin owl-carousel-admin">
							<div class="owl-item">
								<div class="box-shadow-item">
									<img src="../assets/images/admindash.jpg" class="img-responsive" alt="" />
									<div class="figercaption text-center">
										<span><a href="/dashboard-admin">View
												Screen</a></span>
									</div>
									<div class="screen_title">
										Dashboard
									</div>
								</div>
							</div>
							<div class="owl-item">
								<div class="box-shadow-item">
									<img src="../assets/images/adminlist.jpg" class="img-responsive" alt="" />
									<div class="figercaption text-center">
										<span><a href="/user-list">View
												Screen</a></span>
									</div>
									<div class="screen_title">
										User List
									</div>
								</div>
							</div>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
				<div class="clearfix"></div>
				<div class="linkup_section learner_linkup">
					<div class="linkup_header">
						<div class="border_h2">
							<h2>Learner Section <span class="number">6</span></h2>
							<div class="plus-minus" data-toggle="collapse" href="#collapselearner" aria-expanded="false" aria-controls="collapselearner"><span
								 data-toggle="tooltip" data-placement="top" title="Expand/Collapse Section"></span></div>
							<!-- <div class="expand expand_learner"><span data-toggle="tooltip" data-placement="top" title="View all Screens"></span></div> -->
						</div>
					</div>
					<div class="clearfix"></div>
					<div class="padding_carousel collapse in" id="collapselearner">
						<div class="expand expand_learner"><span data-toggle="tooltip" data-placement="top" title="View all Screens"></span></div>
						<div class="slider_leaner owl-carousel-learner">
							<div class="owl-item">
								<div class="box-shadow-item">
									<img src="../assets/images/learnerdash.jpg" class="img-responsive" alt="" />
									<div class="figercaption text-center">
										<span><a href="/dashboard-learner" ng-reflect-router-link="/dashboard-learner" href="/dashboard-learner">View
												Screen</a></span>
									</div>
									<div class="screen_title">
										Dashboard
									</div>
								</div>
							</div>
							<div class="owl-item">
								<div class="box-shadow-item">
									<img src="../assets/images/courselist.jpg" class="img-responsive" alt="" />
									<div class="figercaption text-center">
										<span><a href="/course-list">View Screen</a></span>
									</div>
									<div class="screen_title">
										Course Catalog
									</div>
								</div>
							</div>
							<div class="owl-item">
								<div class="box-shadow-item">
									<img src="../assets/images/coursedetail.jpg" class="img-responsive" alt="" />
									<div class="figercaption text-center">
										<span><a href="/course-detail">View
												Screen</a></span>
									</div>
									<div class="screen_title">
										Course Detail
									</div>
								</div>
							</div>
							<div class="owl-item">
								<div class="box-shadow-item">
									<img src="../assets/images/my course.jpg" class="img-responsive" alt="" />
									<div class="figercaption text-center">
										<span><a href="/learner-courses">View
												Screen</a></span>
									</div>
									<div class="screen_title">
										Your Course
									</div>
								</div>
							</div>
							<div class="owl-item">
								<div class="box-shadow-item">
									<img src="../assets/images/events.jpg" class="img-responsive" alt="" />
									<div class="figercaption text-center">
										<span><a href="/calendar">View Screen</a></span>
									</div>
									<div class="screen_title">
										Scheduler
									</div>
								</div>
							</div>
							<div class="owl-item">
								<div class="box-shadow-item">
									<img src="../assets/images/certificate.jpg" class="img-responsive" alt="" />
									<div class="figercaption text-center">
										<span><a href="/certificate">View Screen</a></span>
									</div>
									<div class="screen_title">
										Certificates & Badges
									</div>
								</div>
							</div>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>

				<div class="clearfix"></div>
				<div class="linkup_section instructor_linkup">
					<div class="linkup_header">
						<div class="border_h2">
							<h2>Instructor Section <span class="number">2</span></h2>
							<div class="plus-minus" data-toggle="collapse" href="#collapseinstructor" aria-expanded="false" aria-controls="collapseinstructor"><span
								 data-toggle="tooltip" data-placement="top" title="Expand/Collapse Section"></span></div>
							<!-- <div class="expand expand_instructor"><span data-toggle="tooltip" data-placement="top" title="View all Screens"></span></div> -->
						</div>
					</div>
					<div class="clearfix"></div>
					<div class="padding_carousel collapse in" id="collapseinstructor">
						<div class="expand expand_instructor"><span data-toggle="tooltip" data-placement="top" title="View all Screens"></span></div>
						<div class="slider_instructor owl-carousel-instructor">
							<div class="owl-item">
								<div class="box-shadow-item">
									<img src="../assets/images/instructorcourseform.jpg" class="img-responsive" alt="" />
									<div class="figercaption text-center">
										<span><a href="/instructor-course-form">View
												Screen</a></span>
									</div>
									<div class="screen_title">
										Course Form
									</div>
								</div>
							</div>
							<div class="owl-item">
								<div class="box-shadow-item">
									<img src="../assets/images/courselist.jpg" class="img-responsive" alt="" />
									<div class="figercaption text-center">
										<span><a href="/instructor-courses">View
												Screen</a></span>
									</div>
									<div class="screen_title">
										Courses List
									</div>
								</div>
							</div>

						</div>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>
<div class="clearfix"></div>
<div class="footer_link">
	<div class="col-md-6 col-sm-12 text-left">© 2018 <a href="#" target="_blank">Learning Management System</a></div>
	<div class="col-md-6 col-sm-12 text-right">Powered by <a href="http://www.theopeneyes.com/" target="_blank" title="Open in new window">OpenEyes
			Technologies, Inc.</a></div>
	<div class="clearfix"></div>
</div>
<div class="clearfix"></div>