<div class="linklist_wrapper">
	<div class="container">
		<div class="col-md-12 col-sm-12">
			<div class="row">
				<div class="col-md-4 col-sm-4">
					<div class="admin_section">
						<div class="col-md-12">
							<h3>Admin Section</h3>
						</div>
						<div class="clearfix"></div>
						<!-- <div class="col-md-12 col-sm-12">
							<a routerLink="/register-admin">
								<div class="linklist_box">
									<h1>Register</h1>
									<span><img class="img-responsive" src="assets/images/icon.png" alt="image" /></span>
								</div>
							</a>
						</div> -->
						<div class="col-md-12 col-sm-12">
							<a routerLink="/login">
								<div class="linklist_box">
									<h1>Login</h1>
									<span><img class="img-responsive" src="assets/images/icon.png" alt="image" /></span>
								</div>
							</a>
						</div>
						<div class="col-md-12 col-sm-12">
							<a routerLink="/forgot-password">
								<div class="linklist_box">
									<h1>Forgot Password</h1>
									<span><img class="img-responsive" src="assets/images/icon.png" alt="image" /></span>
								</div>
							</a>
						</div>
						<div class="col-md-12 col-sm-12">
							<a routerLink="/dashboard-admin">
								<div class="linklist_box">
									<h1>Dashboard</h1>
									<span><img class="img-responsive" src="assets/images/icon.png" alt="image" /></span>
								</div>
							</a>
						</div>
						<div class="col-md-12 col-sm-12">
							<a routerLink="/edit-profile">
								<div class="linklist_box">
									<h1>Edit Profile</h1>
									<span><img class="img-responsive" src="assets/images/icon.png" alt="image" /></span>
								</div>
							</a>
						</div>
						<!-- <div class="col-md-12 col-sm-12">
								<a routerLink="/course-detail">
								<div class="linklist_box">
									<h1>Course Detail</h1>
									<span><img class="img-responsive" src="assets/images/icon.png" alt="image" /></span>
								</div>
							</a>
						</div>
						<div class="col-md-12 col-sm-12">
								<a routerLink="/course-list">
								<div class="linklist_box">
									<h1>Course List</h1>
									<span><img class="img-responsive" src="assets/images/icon.png" alt="image" /></span>
								</div>
							</a>
						</div>
						<div class="col-md-12 col-sm-12">
								<a routerLink="/calendar">
								<div class="linklist_box">
									<h1>Scheduler</h1>
									<span><img class="img-responsive" src="assets/images/icon.png" alt="image" /></span>
								</div>
							</a>
						</div>
						<div class="col-md-12 col-sm-12">
								<a routerLink="/certificate">
								<div class="linklist_box">
									<h1>Certificates &amp; Badges</h1>
									<span><img class="img-responsive" src="assets/images/icon.png" alt="image" /></span>
								</div>
							</a>
						</div> -->
					</div>
				</div>
				<div class="col-md-4 col-sm-4">
					<div class="instructor_section">
						<div class="col-md-12">
							<h3>Instructor Section</h3>
						</div>
						<div class="clearfix"></div>
						<div class="col-md-12 col-sm-12">
							<a routerLink="/register-instructor">
								<div class="linklist_box">
									<h1>Register</h1>
									<span><img class="img-responsive" src="assets/images/online-instructor.png" alt="image" /></span>
								</div>
							</a>
						</div>
						<div class="col-md-12 col-sm-12">
							<a routerLink="/login">
								<div class="linklist_box">
									<h1>Login</h1>
									<span><img class="img-responsive" src="assets/images/online-instructor.png" alt="image" /></span>
								</div>
							</a>
						</div>
						<div class="col-md-12 col-sm-12">
							<a routerLink="/forgot-password">
								<div class="linklist_box">
									<h1>Forgot Password</h1>
									<span><img class="img-responsive" src="assets/images/online-instructor.png" alt="image" /></span>
								</div>
							</a>
						</div>
						<div class="col-md-12 col-sm-12">
							<a routerLink="/dashboard-instructor">
								<div class="linklist_box">
									<h1>Dashboard</h1>
									<span><img class="img-responsive" src="assets/images/online-instructor.png" alt="image" /></span>
								</div>
							</a>
						</div>
						<div class="col-md-12 col-sm-12">
							<a routerLink="/edit-profile">
								<div class="linklist_box">
									<h1>Edit Profile</h1>
									<span><img class="img-responsive" src="assets/images/online-instructor.png" alt="image" /></span>
								</div>
							</a>
						</div>
						<div class="col-md-12 col-sm-12">
							<a routerLink="/instructor-course-form">
								<div class="linklist_box">
									<h1>Course Form</h1>
									<span><img class="img-responsive" src="assets/images/online-instructor.png" alt="image" /></span>
								</div>
							</a>
						</div>
						<div class="col-md-12 col-sm-12">
							<a routerLink="/instructor-courses">
								<div class="linklist_box">
									<h1>Courses List</h1>
									<span><img class="img-responsive" src="assets/images/online-instructor.png" alt="image" /></span>
								</div>
							</a>
						</div>
						<div class="col-md-12 col-sm-12">
							<a routerLink="/calendar">
								<div class="linklist_box">
									<h1>Scheduler</h1>
									<span><img class="img-responsive" src="assets/images/online-instructor.png" alt="image" /></span>
								</div>
							</a>
						</div>
						<div class="col-md-12 col-sm-12">
							<a routerLink="/certificate">
								<div class="linklist_box">
									<h1>Certificates &amp; Badges</h1>
									<span><img class="img-responsive" src="assets/images/online-instructor.png" alt="image" /></span>
								</div>
							</a>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-4">
					<div class="leraner_section">
						<div class="col-md-12">
							<h3>learner Section</h3>
						</div>
						<div class="clearfix"></div>
						<div class="col-md-12 col-sm-12">
							<a routerLink="/register-learner">
								<div class="linklist_box">
									<h1>Register</h1>
									<span><img class="img-responsive" src="assets/images/hand-holding-up-a-book.png" alt="image" /></span>
								</div>
							</a>
						</div>
						<div class="col-md-12 col-sm-12">
							<a routerLink="/login">
								<div class="linklist_box">
									<h1>Login</h1>
									<span><img class="img-responsive" src="assets/images/hand-holding-up-a-book.png" alt="image" /></span>
								</div>
							</a>
						</div>
						<div class="col-md-12 col-sm-12">
							<a routerLink="/forgot-password">
								<div class="linklist_box">
									<h1>Forgot Password</h1>
									<span><img class="img-responsive" src="assets/images/hand-holding-up-a-book.png" alt="image" /></span>
								</div>
							</a>
						</div>
						<div class="col-md-12 col-sm-12">
							<a routerLink="/dashboard-learner">
								<div class="linklist_box">
									<h1>Dashboard</h1>
									<span><img class="img-responsive" src="assets/images/hand-holding-up-a-book.png" alt="image" /></span>
								</div>
							</a>
						</div>
						<div class="col-md-12 col-sm-12">
							<a routerLink="/edit-profile">
								<div class="linklist_box">
									<h1>Edit Profile</h1>
									<span><img class="img-responsive" src="assets/images/hand-holding-up-a-book.png" alt="image" /></span>
								</div>
							</a>
						</div>
						<div class="col-md-12 col-sm-12">
							<a routerLink="/learner-courses">
								<div class="linklist_box">
									<h1>Your Course</h1>
									<span><img class="img-responsive" src="assets/images/hand-holding-up-a-book.png" alt="image" /></span>
								</div>
							</a>
						</div>
						<div class="col-md-12 col-sm-12">
							<a routerLink="/course-detail">
								<div class="linklist_box">
									<h1>Course Detail</h1>
									<span><img class="img-responsive" src="assets/images/hand-holding-up-a-book.png" alt="image" /></span>
								</div>
							</a>
						</div>
						<div class="col-md-12 col-sm-12">
							<a routerLink="/course-list">
								<div class="linklist_box">
									<h1>Course List</h1>
									<span><img class="img-responsive" src="assets/images/hand-holding-up-a-book.png" alt="image" /></span>
								</div>
							</a>
						</div>
						<div class="col-md-12 col-sm-12">
							<a routerLink="/calendar">
								<div class="linklist_box">
									<h1>Scheduler</h1>
									<span><img class="img-responsive" src="assets/images/hand-holding-up-a-book.png" alt="image" /></span>
								</div>
							</a>
						</div>
						<div class="col-md-12 col-sm-12">
							<a routerLink="/certificate">
								<div class="linklist_box">
									<h1>Certificates &amp; Badges</h1>
									<span><img class="img-responsive" src="assets/images/hand-holding-up-a-book.png" alt="image" /></span>
								</div>
							</a>
						</div>
					</div>
				</div>

				<div class="clearfix"></div>
			</div>
		</div>
	</div>
</div>

<!-- <ul class="list_page">
	<li><a routerLink="/calendar">Scheduler</a></li>
	<li><a routerLink="/course-list">Course List</a></li>
	<li><a routerLink="/course-detail">Course Detail</a></li>
	<li><a routerLink="/user-list">User List</a></li>
	<li><a routerLink="/dashboard-admin">Admin Dashboard</a></li>
	<li><a routerLink="/dashboard-learner">Learner Dashboard</a></li>
	<li><a routerLink="/dashboard-instructor">Instructor Dashboard</a></li>
	<li><a routerLink="/certificate">Certificates &amp; Badges</a></li>
	<li><a routerLink="/login">Login</a></li>
	<li><a routerLink="/forgot-password">Forgot Password</a></li>
	<li><a routerLink="/register-learner">Register Learner</a></li>
	<li><a routerLink="/register-instructor">Register Instructor</a></li>
	<li><a routerLink="/register-admin">Register Admin</a></li>
	<li><a routerLink="/edit-profile-learner">Edit Profile Learner</a></li>
	<li><a routerLink="/edit-profile-instructor">Edit Profile Instructor</a></li>
	<li><a routerLink="/edit-profile">Edit Profile</a></li>
	<li><a routerLink="/learner-course">Learner Course List</a></li>
	<li><a routerLink="/instructor-course-form">Instructor Course Form</a></li>
	<li><a routerLink="/instructor-courses">Instructor Courses List</a></li>
</ul> -->