<!-- Inquiry Form -->
<div class="inquiryform_block">
	<a href="javascript:void(0);" class="inquire_now">Inquire Now</a>
	<div class="form_widget">
		<i class="glyphicon glyphicon-remove"></i>
		<div class="content">
			<h2>Inquire Now</h2>
			<div class="separator inner_separator"><span class="dott"></span><span class="dott"></span><span class="dott"></span></div>
			<form action="" method="post" id="inquireform">
				<div class="form-group">
					<label><span>*</span>First Name </label>
					<input type="text" class="form-control" #FirstName="ngModel" [(ngModel)]="RegisterEntity.FirstName" name="FirstName"
					 pattern="[a-zA-Z'.$\ ]{2,100}" [ngClass]="{red_border: (FirstName.dirty && FirstName.invalid) || (FirstName.pristine && submitted1)}"
					 required />
					<span class="error_span" *ngIf="(FirstName.dirty && FirstName.invalid) || (FirstName.pristine && submitted1)">
						<span *ngIf="FirstName.errors.required || (FirstName.pristine && submitted1)">Please enter first name</span>
						<span *ngIf="FirstName.errors && FirstName.errors.pattern">Please enter valid first name</span>
					</span>
				</div>
				<div class="form-group">
					<label><span>*</span>Last Name </label>
					<input type="text" class="form-control" #LastName="ngModel" [(ngModel)]="RegisterEntity.LastName" name="LastName"
					 pattern="[a-zA-Z'.$\ ]{2,100}" [ngClass]="{red_border: (LastName.dirty && LastName.invalid) || (LastName.pristine && submitted)}"
					 required />
					<span class="error_span" *ngIf="(LastName.dirty && LastName.invalid) || (LastName.pristine && submitted)">
						<span *ngIf="LastName.errors.required || (LastName.pristine && submitted)">Please enter last name</span>
						<span *ngIf="LastName.errors && LastName.errors.pattern">Please enter valid last name</span>
					</span>
				</div>
				<div class="form-group">
					<label><span>*</span>Email Address </label>
					<input type="text" class="form-control" pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}"
					 #EmailAddress="ngModel" [(ngModel)]="RegisterEntity.EmailAddress" name="EmailAddress" [ngClass]="{red_border: (EmailAddress.dirty && EmailAddress.invalid) || (EmailAddress.pristine && submitted)}"
					 required>
					<span class="error_span" *ngIf="(EmailAddress.dirty && EmailAddress.invalid) || (EmailAddress.pristine && submitted)">
						<span *ngIf="EmailAddress.errors.required || (EmailAddress.pristine && submitted)">Please enter email address</span>
						<span *ngIf="EmailAddress.errors && EmailAddress.errors.pattern">Please enter valid email address</span>
					</span>
				</div>
				<div class="form-group">
					<label><span>*</span>Phone Number </label>
					<input type="text" class="form-control" #PhoneNumber="ngModel" name="PhoneNumber" pattern="[0-9\-.()+\s]{0,13}"
					 maxlength="13" [(ngModel)]="RegisterEntity.PhoneNumber" [ngClass]="{red_border: (PhoneNumber.dirty && PhoneNumber.invalid) || (PhoneNumber.pristine && submitted)}"
					 required />
					<span class="error_span" *ngIf="(PhoneNumber.dirty && PhoneNumber.invalid) || (PhoneNumber.pristine && submitted)">
						<span *ngIf="PhoneNumber.errors.required || (PhoneNumber.pristine && submitted)">Please enter phone number</span>
						<span *ngIf="PhoneNumber.errors && PhoneNumber.errors.pattern">Please enter valid phone number</span>
					</span>
				</div>
				<div class="form-group">
					<label>Message </label>
					<textarea class="form-control" #Address1="ngModel" maxlength="250" [(ngModel)]="RegisterEntity.Address1" name="Address1"
					 [ngClass]="{red_border: (Address1.dirty && Address1.invalid)}"></textarea>
					<span class="error_span" *ngIf="(Address1.dirty && Address1.invalid)">
						<span *ngIf="Address1.errors && Address1.errors.pattern">Please enter valid address</span>
					</span>
				</div>
				<div class="text-center">
					<button type="submit" id="inquiry_submit" class="next_btn" name="inquire_submit" [disabled]="btn_disable2 && !same"><span>Submit</span></button>
				</div>
			</form>
		</div>
	</div>
</div>
<!-- End Inquiry Form -->


<div class="top_header">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-sm-9 col-xs-9 text-left">
				<a class="logo_lms"><img src="../assets/images/logo.png" class="img-responsive" alt="" />
					<!-- <span>All Screens</span> -->
				</a>
			</div>
			<div class="col-md-6 col-sm-3 col-xs-3 text-right">
				<a class="logo_oe"><img src="../assets/images/landing_logo.png" class="img-responsive" alt="" /></a>
			</div>
		</div>
	</div>
</div>
<div class="clearfix"></div>
<div class="linkup_wrapper">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<div class="header_title">
					<h3><i class="fa fa-desktop" aria-hidden="true"></i> All Screens</h3>
				</div>
				<div class="linkup_section profile_linkup active_slider_profile">
					<div class="linkup_header">
						<div class="border_h2">
							<h2>Welcome and Profile Section <span class="number">5</span></h2>
							<div class="plus-minus" data-toggle="collapse" href="#collapseprofile" aria-expanded="false" aria-controls="collapseprofile"><span
								 data-toggle="tooltip" data-placement="top" title="Expand/Collapse Section"></span></div>
							<!-- <div class="expand expand_profile"><span data-toggle="tooltip" data-placement="top" title="View all Screens"></span></div> -->
						</div>
					</div>
					<div class="clearfix"></div>
					<div class="padding_carousel collapse in" id="collapseprofile">
						<div class="expand expand_profile"><span data-toggle="tooltip" data-placement="top" title="View all Screens"></span></div>
						<div class="slider_profile owl-carousel-profile">
							<div class="owl-item">
								<div class="box-shadow-item">
									<img src="../assets/images/welcom.jpg" class="img-responsive" alt="" />
									<div class="figercaption text-center">
										<span><a href="/welcome">View
												Screen</a></span>
									</div>
									<div class="screen_title">
										Welcome
									</div>
								</div>
							</div>
							<div class="owl-item">
								<div class="box-shadow-item">
									<img src="../assets/images/register.jpg" class="img-responsive" alt="" />
									<div class="figercaption text-center">
										<span><a href="/register-instructor">View
												Screen</a></span>
									</div>
									<div class="screen_title">
										Register
									</div>
								</div>
							</div>
							<div class="owl-item">
								<div class="box-shadow-item">
									<img src="../assets/images/login.jpg" class="img-responsive" alt="" />
									<div class="figercaption text-center">
										<span><a href="/login">View Screen</a></span>
									</div>
									<div class="screen_title">
										Login
									</div>
								</div>
							</div>
							<div class="owl-item">
								<div class="box-shadow-item">
									<img src="../assets/images/forgot.jpg" class="img-responsive" alt="" />
									<div class="figercaption text-center">
										<span><a href="/forgot-password">View
												Screen</a></span>
									</div>
									<div class="screen_title">
										Forgot Password
									</div>
								</div>
							</div>
							<div class="owl-item">
								<div class="box-shadow-item">
									<img src="../assets/images/editprofile.jpg" class="img-responsive" alt="" />
									<div class="figercaption text-center">
										<span><a href="/edit-profile">View Screen</a></span>
									</div>
									<div class="screen_title">
										Edit Profile
									</div>
								</div>
							</div>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
				<div class="linkup_section admin_linkup active_slider_admin">
					<div class="linkup_header">
						<div class="border_h2">
							<h2>Admin Section <span class="number">2</span></h2>
							<div class="plus-minus" data-toggle="collapse" href="#collapseadmin" aria-expanded="false" aria-controls="collapseadmin"><span
								 data-toggle="tooltip" data-placement="top" title="Expand/Collapse Section"></span></div>
							<!-- <div class="expand expand_admin"><span data-toggle="tooltip" data-placement="top" title="View all Screens"></span></div> -->
						</div>
					</div>
					<div class="clearfix"></div>
					<div class="padding_carousel collapse in" id="collapseadmin">
						<div class="expand expand_admin"><span data-toggle="tooltip" data-placement="top" title="View all Screens"></span></div>
						<div class="slider_admin owl-carousel-admin">
							<div class="owl-item">
								<div class="box-shadow-item">
									<img src="../assets/images/admindash.jpg" class="img-responsive" alt="" />
									<div class="figercaption text-center">
										<span><a href="/dashboard-admin">View
												Screen</a></span>
									</div>
									<div class="screen_title">
										Dashboard
									</div>
								</div>
							</div>
							<div class="owl-item">
								<div class="box-shadow-item">
									<img src="../assets/images/adminlist.jpg" class="img-responsive" alt="" />
									<div class="figercaption text-center">
										<span><a href="/user-list">View
												Screen</a></span>
									</div>
									<div class="screen_title">
										User List
									</div>
								</div>
							</div>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
				<div class="clearfix"></div>
				<div class="linkup_section learner_linkup">
					<div class="linkup_header">
						<div class="border_h2">
							<h2>Learner Section <span class="number">6</span></h2>
							<div class="plus-minus" data-toggle="collapse" href="#collapselearner" aria-expanded="false" aria-controls="collapselearner"><span
								 data-toggle="tooltip" data-placement="top" title="Expand/Collapse Section"></span></div>
							<!-- <div class="expand expand_learner"><span data-toggle="tooltip" data-placement="top" title="View all Screens"></span></div> -->
						</div>
					</div>
					<div class="clearfix"></div>
					<div class="padding_carousel collapse in" id="collapselearner">
						<div class="expand expand_learner"><span data-toggle="tooltip" data-placement="top" title="View all Screens"></span></div>
						<div class="slider_leaner owl-carousel-learner">
							<div class="owl-item">
								<div class="box-shadow-item">
									<img src="../assets/images/learnerdash.jpg" class="img-responsive" alt="" />
									<div class="figercaption text-center">
										<span><a href="/dashboard-learner" ng-reflect-router-link="/dashboard-learner" href="/dashboard-learner">View
												Screen</a></span>
									</div>
									<div class="screen_title">
										Dashboard
									</div>
								</div>
							</div>
							<div class="owl-item">
								<div class="box-shadow-item">
									<img src="../assets/images/courselist.jpg" class="img-responsive" alt="" />
									<div class="figercaption text-center">
										<span><a href="/course-list">View Screen</a></span>
									</div>
									<div class="screen_title">
										Course Catalog
									</div>
								</div>
							</div>
							<div class="owl-item">
								<div class="box-shadow-item">
									<img src="../assets/images/coursedetail.jpg" class="img-responsive" alt="" />
									<div class="figercaption text-center">
										<span><a href="/course-detail">View
												Screen</a></span>
									</div>
									<div class="screen_title">
										Course Detail
									</div>
								</div>
							</div>
							<div class="owl-item">
								<div class="box-shadow-item">
									<img src="../assets/images/my course.jpg" class="img-responsive" alt="" />
									<div class="figercaption text-center">
										<span><a href="/learner-courses">View
												Screen</a></span>
									</div>
									<div class="screen_title">
										Your Course
									</div>
								</div>
							</div>
							<div class="owl-item">
								<div class="box-shadow-item">
									<img src="../assets/images/events.jpg" class="img-responsive" alt="" />
									<div class="figercaption text-center">
										<span><a href="/calendar">View Screen</a></span>
									</div>
									<div class="screen_title">
										Scheduler
									</div>
								</div>
							</div>
							<div class="owl-item">
								<div class="box-shadow-item">
									<img src="../assets/images/certificate.jpg" class="img-responsive" alt="" />
									<div class="figercaption text-center">
										<span><a href="/certificate">View Screen</a></span>
									</div>
									<div class="screen_title">
										Certificates & Badges
									</div>
								</div>
							</div>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>

				<div class="clearfix"></div>
				<div class="linkup_section instructor_linkup">
					<div class="linkup_header">
						<div class="border_h2">
							<h2>Instructor Section <span class="number">2</span></h2>
							<div class="plus-minus" data-toggle="collapse" href="#collapseinstructor" aria-expanded="false" aria-controls="collapseinstructor"><span
								 data-toggle="tooltip" data-placement="top" title="Expand/Collapse Section"></span></div>
							<!-- <div class="expand expand_instructor"><span data-toggle="tooltip" data-placement="top" title="View all Screens"></span></div> -->
						</div>
					</div>
					<div class="clearfix"></div>
					<div class="padding_carousel collapse in" id="collapseinstructor">
						<div class="expand expand_instructor"><span data-toggle="tooltip" data-placement="top" title="View all Screens"></span></div>
						<div class="slider_instructor owl-carousel-instructor">
							<div class="owl-item">
								<div class="box-shadow-item">
									<img src="../assets/images/instructorcourseform.jpg" class="img-responsive" alt="" />
									<div class="figercaption text-center">
										<span><a href="/instructor-course-form">View
												Screen</a></span>
									</div>
									<div class="screen_title">
										Course Form
									</div>
								</div>
							</div>
							<div class="owl-item">
								<div class="box-shadow-item">
									<img src="../assets/images/courselist.jpg" class="img-responsive" alt="" />
									<div class="figercaption text-center">
										<span><a href="/instructor-courses">View
												Screen</a></span>
									</div>
									<div class="screen_title">
										Courses List
									</div>
								</div>
							</div>

						</div>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>
<div class="clearfix"></div>
<div class="footer_link">
	<div class="col-md-6 col-sm-12 text-left">© 2018 <a href="#" target="_blank">Learning Management System</a></div>
	<div class="col-md-6 col-sm-12 text-right">Powered by <a href="http://www.theopeneyes.com/" target="_blank" title="Open in new window">OpenEyes
			Technologies, Inc.</a></div>
	<div class="clearfix"></div>
</div>
<div class="clearfix"></div>