<div class="title_heading">
  <div class="col-md-4 col-sm-4">
    <div class="title_text">
      <i class="fa fa-paypal" aria-hidden="true"></i>Payment
    </div>
  </div>
  <div class="col-md-8 col-sm-8">
    <div class="welcome_message alert" role="alert">
      <i class="fa fa-info"></i>Welcome back, <strong>Dave Mattew!</strong> You last sign in at 16:54 PM on 09/20/2018
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="breadcrumb_block">
    <div class="col-md-6 col-sm-6">
      <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i></a></li>
        <li class="breadcrumb-item"><a href="#">Courses</a></li>
        <li class="breadcrumb-item active" aria-current="page">Payment</li>
      </ul>
      <div class="clearfix"></div>
    </div>
    <div class="col-md-6 col-sm-6">

    </div>
    <div class="clearfix"></div>
  </div>
  <div class="clearfix"></div>
</div>

<div class="content_block">
  <div class="col-md-8 col-sm-8">
    <div class="summary">
      <h3>Cart List Summary</h3>
      <div class="clearfix"></div>
      <div class="course_forum_block">
        <div class="forum_box">
          <div class="img_icon"><img _ngcontent-c5="" alt="" class="img-responsive" src="assets/images/c1.jpg"></div>
          <div class="content_name">
            <div class="name">Awesome CSS with LESS Processing</div>
            <div class="content">Adrian Demian</div>
            <div class="course_person_name">Instructor</div>
            <div class="price_label">$ 50</div>
          </div>
        </div>
        <div class="forum_box">
          <div class="img_icon"><img _ngcontent-c5="" alt="" class="img-responsive" src="assets/images/c3.jpg"></div>
          <div class="content_name">
            <div class="name">Online Payments with Stripe</div>
            <div class="content">Adrian Demian</div>
            <div class="course_person_name">Instructor</div>
            <div class="price_label">$ 23</div>
          </div>
        </div>
        <div class="forum_box">
          <div class="img_icon"><img _ngcontent-c5="" alt="" class="img-responsive" src="assets/images/c2.jpg"></div>
          <div class="content_name">
            <div class="name">WordPress Theme Development</div>
            <div class="content">Adrian Demian</div>
            <div class="course_person_name">Instructor</div>
            <div class="price_label">$ 32</div>
          </div>
        </div>
        <div class="total_price pull-right">
          <div class="price_label"><span>Total:</span> $ 105</div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-sm-4">
    <div class="Payment_mode">
      <h3>Payment Options</h3>
      <div class="payment_method_option">
        <ul>
          <li><a href=""><img _ngcontent-c5="" alt="" class="img-responsive" src="assets/images/paypal.png"></a></li>
          <li><a href=""><img _ngcontent-c5="" alt="" class="img-responsive" src="assets/images/visa.png"></a></li>
          <li><a href=""><img _ngcontent-c5="" alt="" class="img-responsive" src="assets/images/mastercard.png"></a></li>
          <li><a href=""><img _ngcontent-c5="" alt="" class="img-responsive" src="assets/images/american-express.png"></a></li>
        </ul>
      </div>
      <!-- <a _ngcontent-c5="" class="back_btn" routerlink="/">Make Payment</a> -->
      <div id="paypal-checkout-btn"></div>
    </div>
  </div>
</div>