<!-- Header Section -->
<div class="footer_fixed_block register_header">
				<div class="footer_fixed_wrapper">
					<div class="linkup_wrapper footer_fixed_section">
						<div class="container">
							<div class="row">
								<div class="col-md-12 col-sm-12 linkup_section">
									<div class="padding_carousel">
										<div class="owl-carousel-bottom">
											<div class="owl-item active">
								<div class="box-shadow-item admin_border">
									<img src="../assets/images/carousel.png" class="img-responsive" alt="" />
									<div class="figercaption text-center">
										<span><a routerlink="/login" ng-reflect-router-link="/login" href="/login">View Screen</a></span>
									</div>
									<div class="screen_title">
										Login
									</div>
								</div>
							</div>
							<div class="owl-item">
								<div class="box-shadow-item admin_border">
									<img src="../assets/images/carousel.png" class="img-responsive" alt="" />
									<div class="figercaption text-center">
										<span><a routerlink="/forgot-password" ng-reflect-router-link="/forgot-password" href="/forgot-password">View
												Screen</a></span>
									</div>
									<div class="screen_title">
										Forgot Password
									</div>
								</div>
							</div>
							<div class="owl-item">
								<div class="box-shadow-item admin_border">
									<img src="../assets/images/carousel.png" class="img-responsive" alt="" />
									<div class="figercaption text-center">
										<span><a routerlink="/dashboard-admin" ng-reflect-router-link="/dashboard-admin" href="/dashboard-admin">View
												Screen</a></span>
									</div>
									<div class="screen_title">
										Dashboard
									</div>
								</div>
							</div>
							<div class="owl-item">
								<div class="box-shadow-item admin_border">
									<img src="../assets/images/carousel.png" class="img-responsive" alt="" />
									<div class="figercaption text-center">
										<span><a routerlink="/edit-profile" ng-reflect-router-link="/edit-profile" href="/edit-profile">View Screen</a></span>
									</div>
									<div class="screen_title">
										Edit Profile
									</div>
								</div>
							</div>
							
							<div class="owl-item">
								<div class="box-shadow-item learner_border">
									<img src="../assets/images/carousel.png" class="img-responsive" alt="" />
									<div class="figercaption text-center">
										<span><a routerlink="/register-learner" ng-reflect-router-link="/register-learner" href="/register-learner">View
												Screen</a></span>
									</div>
									<div class="screen_title">
										Register
									</div>
								</div>
							</div>
							<div class="owl-item">
								<div class="box-shadow-item learner_border">
									<img src="../assets/images/carousel.png" class="img-responsive" alt="" />
									<div class="figercaption text-center">
										<span><a routerlink="/login" ng-reflect-router-link="/login" href="/login">View Screen</a></span>
									</div>
									<div class="screen_title">
										Login
									</div>
								</div>
							</div>
							<div class="owl-item">
								<div class="box-shadow-item learner_border">
									<img src="../assets/images/carousel.png" class="img-responsive" alt="" />
									<div class="figercaption text-center">
										<span><a routerlink="/forgot-password" ng-reflect-router-link="/forgot-password" href="/forgot-password">View
												Screen</a></span>
									</div>
									<div class="screen_title">
										Forgot Password
									</div>
								</div>
							</div>
							<div class="owl-item">
								<div class="box-shadow-item learner_border">
									<img src="../assets/images/carousel.png" class="img-responsive" alt="" />
									<div class="figercaption text-center">
										<span><a routerlink="/dashboard-learner" ng-reflect-router-link="/dashboard-learner" href="/dashboard-learner">View
												Screen</a></span>
									</div>
									<div class="screen_title">
										Dashboard
									</div>
								</div>
							</div>
							<div class="owl-item">
								<div class="box-shadow-item learner_border">
									<img src="../assets/images/carousel.png" class="img-responsive" alt="" />
									<div class="figercaption text-center">
										<span><a routerlink="/edit-profile" ng-reflect-router-link="/edit-profile" href="/edit-profile">View Screen</a></span>
									</div>
									<div class="screen_title">
										Edit Profile
									</div>
								</div>
							</div>
							<div class="owl-item">
								<div class="box-shadow-item learner_border">
									<img src="../assets/images/carousel.png" class="img-responsive" alt="" />
									<div class="figercaption text-center">
										<span><a routerlink="/learner-courses" ng-reflect-router-link="/learner-courses" href="/learner-courses">View
												Screen</a></span>
									</div>
									<div class="screen_title">
										Your Course
									</div>
								</div>
							</div>
							<div class="owl-item">
								<div class="box-shadow-item learner_border">
									<img src="../assets/images/carousel.png" class="img-responsive" alt="" />
									<div class="figercaption text-center">
										<span><a routerlink="/course-detail" ng-reflect-router-link="/course-detail" href="/course-detail">View
												Screen</a></span>
									</div>
									<div class="screen_title">
										Course Detail
									</div>
								</div>
							</div>
							<div class="owl-item">
								<div class="box-shadow-item learner_border">
									<img src="../assets/images/carousel.png" class="img-responsive" alt="" />
									<div class="figercaption text-center">
										<span><a routerlink="/course-list" ng-reflect-router-link="/course-list" href="/course-list">View Screen</a></span>
									</div>
									<div class="screen_title">
										Course List
									</div>
								</div>
							</div>
							<div class="owl-item">
								<div class="box-shadow-item learner_border">
									<img src="../assets/images/carousel.png" class="img-responsive" alt="" />
									<div class="figercaption text-center">
										<span><a routerlink="/calendar" ng-reflect-router-link="/calendar" href="/calendar">View Screen</a></span>
									</div>
									<div class="screen_title">
										Scheduler
									</div>
								</div>
							</div>
							<div class="owl-item">
								<div class="box-shadow-item learner_border">
									<img src="../assets/images/carousel.png" class="img-responsive" alt="" />
									<div class="figercaption text-center">
										<span><a routerlink="/certificate" ng-reflect-router-link="/certificate" href="/certificate">View Screen</a></span>
									</div>
									<div class="screen_title">
										Certificates & Badges
									</div>
								</div>
							</div>
							
							<div class="owl-item">
								<div class="box-shadow-item instructor_border">
									<img src="../assets/images/carousel.png" class="img-responsive" alt="" />
									<div class="figercaption text-center">
										<span><a routerlink="/register-instructor" ng-reflect-router-link="/register-instructor" href="/register-instructor">View
												Screen</a></span>
									</div>
									<div class="screen_title">
										Register
									</div>
								</div>
							</div>
							<div class="owl-item">
								<div class="box-shadow-item instructor_border">
									<img src="../assets/images/carousel.png" class="img-responsive" alt="" />
									<div class="figercaption text-center">
										<span><a routerlink="/login" ng-reflect-router-link="/login" href="/login">View Screen</a></span>
									</div>
									<div class="screen_title">
										Login
									</div>
								</div>
							</div>
							<div class="owl-item">
								<div class="box-shadow-item instructor_border">
									<img src="../assets/images/carousel.png" class="img-responsive" alt="" />
									<div class="figercaption text-center">
										<span><a routerlink="/forgot-password" ng-reflect-router-link="/forgot-password" href="/forgot-password">View
												Screen</a></span>
									</div>
									<div class="screen_title">
										Forgot Password
									</div>
								</div>
							</div>
							<div class="owl-item">
								<div class="box-shadow-item instructor_border">
									<img src="../assets/images/carousel.png" class="img-responsive" alt="" />
									<div class="figercaption text-center">
										<span><a routerlink="/dashboard-instructor" ng-reflect-router-link="/dashboard-instructor" href="/dashboard-instructor">View
												Screen</a></span>
									</div>
									<div class="screen_title">
										Dashboard
									</div>
								</div>
							</div>
							<div class="owl-item">
								<div class="box-shadow-item instructor_border">
									<img src="../assets/images/carousel.png" class="img-responsive" alt="" />
									<div class="figercaption text-center">
										<span><a routerlink="/edit-profile" ng-reflect-router-link="/edit-profile" href="/edit-profile">View Screen</a></span>
									</div>
									<div class="screen_title">
										Edit Profile
									</div>
								</div>
							</div>
							<div class="owl-item">
								<div class="box-shadow-item instructor_border">
									<img src="../assets/images/carousel.png" class="img-responsive" alt="" />
									<div class="figercaption text-center">
										<span><a routerlink="/instructor-course-form" ng-reflect-router-link="/instructor-course-form" href="/instructor-course-form">View
												Screen</a></span>
									</div>
									<div class="screen_title">
										Course Form
									</div>
								</div>
							</div>
							<div class="owl-item">
								<div class="box-shadow-item instructor_border">
									<img src="../assets/images/carousel.png" class="img-responsive" alt="" />
									<div class="figercaption text-center">
										<span><a routerlink="/instructor-courses" ng-reflect-router-link="/instructor-courses" href="/instructor-courses">View
												Screen</a></span>
									</div>
									<div class="screen_title">
										Courses List
									</div>
								</div>
							</div>
							<div class="owl-item">
								<div class="box-shadow-item instructor_border">
									<img src="../assets/images/carousel.png" class="img-responsive" alt="" />
									<div class="figercaption text-center">
										<span><a routerlink="/calendar" ng-reflect-router-link="/calendar" href="/calendar">View Screen</a></span>
									</div>
									<div class="screen_title">
										Scheduler
									</div>
								</div>
							</div>
							<div class="owl-item">
								<div class="box-shadow-item instructor_border">
									<img src="../assets/images/carousel.png" class="img-responsive" alt="" />
									<div class="figercaption text-center">
										<span><a routerlink="/certificate" ng-reflect-router-link="/certificate" href="/certificate">View Screen</a></span>
									</div>
									<div class="screen_title">
										Certificates & Badges
									</div>
								</div>
							</div>
							
							
										</div>
										<div class="clearfix"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="clearfix"></div>
					<div class="footer_fixed_header">
							<span class="pull-left">23 Screens</span>
							<div class="courses_li pull-right">
								<ul>
									<li><span class="success"></span>Admin</li>
									<li><span class="warning"></span>Learner</li>
									<li><span class="danger"></span>Instructor</li>
								</ul>
							</div>
							<div class="alert-close pull-right">×</div>
						</div>
				</div>
				
				<div class="footer_bottom">
					<span>All Screens<i class="fa fa-angle-double-down"></i></span>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="clearfix"></div>
<header class="register_header">
	<div class="container">
	  <div class="row"> 
		<!-- Logo -->
		<div class="col-md-12 col-sm-12 col-xs-12">
			<div class="logo text-center">
				<a class="logo_text"><img src="../assets/images/logo.png" class="img-responsive" alt="" /></a>
			</div>
		</div>
		<!-- End Logo --> 
		<div class="clearfix"></div>
	  </div>
	</div>
</header>
<div class="clearfix"></div>