<!-- Header Section -->
<header>
		<div class="footer_fixed_block">
				<div class="footer_fixed_wrapper">
					<div class="linkup_wrapper footer_fixed_section">
						<div class="container">
							<div class="row">
								<div class="col-md-12 col-sm-12 linkup_section">
									<div class="padding_carousel">
											
										<div class="owl-carousel-bottom">
												
										<div class="owl-item">
								<div class="box-shadow-item profile_border" [ngClass]="{'active_currentpage':globals.currentLink=='/welcome'}">
									<img src="../assets/images/welcom.jpg" class="img-responsive" alt="" />
									<div class="figercaption text-center">
										<span><a routerLink="/welcome">View
												Screen</a></span>
									</div>
									<div class="screen_title">
										Welcome
									</div>
								</div>
							</div>
										<div class="owl-item">
								<div class="box-shadow-item profile_border" [ngClass]="{'active_currentpage':globals.currentLink=='/register-instructor'}">
									<img src="../assets/images/register.jpg" class="img-responsive" alt="" />
									<div class="figercaption text-center">
										<span><a routerLink="/register-instructor">View
												Screen</a></span>
									</div>
									<div class="screen_title">
										Register
									</div>
								</div>
							</div>
											<div class="owl-item">
								<div class="box-shadow-item profile_border" [ngClass]="{'active_currentpage':globals.currentLink=='/login'}">
									<img src="../assets/images/login.jpg" class="img-responsive" alt="" />
									<div class="figercaption text-center">
										<span><a routerLink="/login">View Screen</a></span>
									</div>
									<div class="screen_title">
										Login
									</div>
								</div>
							</div>
							<div class="owl-item">
								<div class="box-shadow-item profile_border" [ngClass]="{'active_currentpage':globals.currentLink=='/forgot-password'}">
									<img src="../assets/images/forgot.jpg" class="img-responsive" alt="" />
									<div class="figercaption text-center">
										<span><a routerLink="/forgot-password">View
												Screen</a></span>
									</div>
									<div class="screen_title">
										Forgot Password
									</div>
								</div>
							</div>
							<div class="owl-item">
								<div class="box-shadow-item profile_border" [ngClass]="{'active_currentpage':globals.currentLink=='/edit-profile'}">
									<img src="../assets/images/editprofile.jpg" class="img-responsive" alt="" />
									<div class="figercaption text-center">
										<span><a routerLink="/edit-profile">View Screen</a></span>
									</div>
									<div class="screen_title">
										Edit Profile
									</div>
								</div>
							</div>
							
							<div class="owl-item">
								<div class="box-shadow-item admin_border" [ngClass]="{'active_currentpage':globals.currentLink=='/dashboard-admin'}">
									<img src="../assets/images/admindash.jpg" class="img-responsive" alt="" />
									<div class="figercaption text-center">
										<span><a routerLink="/dashboard-admin">View
												Screen</a></span>
									</div>
									<div class="screen_title">
										Dashboard
									</div>
								</div>
							</div>
							<div class="owl-item">
								<div class="box-shadow-item admin_border" [ngClass]="{'active_currentpage':globals.currentLink=='/user-list'}">
									<img src="../assets/images/adminlist.jpg" class="img-responsive" alt="" />
									<div class="figercaption text-center">
										<span><a routerLink="/user-list">View
												Screen</a></span>
									</div>
									<div class="screen_title">
										User List
									</div>
								</div>
							</div>
							
							
							<div class="owl-item">
								<div class="box-shadow-item learner_border" [ngClass]="{'active_currentpage':globals.currentLink=='/dashboard-learner'}">
									<img src="../assets/images/learnerdash.jpg" class="img-responsive" alt="" />
									<div class="figercaption text-center">
										<span><a routerLink="/dashboard-learner">View
												Screen</a></span>
									</div>
									<div class="screen_title">
										Dashboard
									</div>
								</div>
							</div>
							<div class="owl-item">
								<div class="box-shadow-item learner_border" [ngClass]="{'active_currentpage':globals.currentLink=='/course-list'}">
									<img src="../assets/images/courselist.jpg" class="img-responsive" alt="" />
									<div class="figercaption text-center">
										<span><a routerLink="/course-list">View Screen</a></span>
									</div>
									<div class="screen_title">
										Course Catalog
									</div>
								</div>
							</div>
							
							<div class="owl-item">
								<div class="box-shadow-item learner_border" [ngClass]="{'active_currentpage':globals.currentLink=='/course-detail'}">
									<img src="../assets/images/coursedetail.jpg" class="img-responsive" alt="" />
									<div class="figercaption text-center">
										<span><a routerLink="/course-detail">View
												Screen</a></span>
									</div>
									<div class="screen_title">
										Course Detail
									</div>
								</div>
							</div>
							
							<div class="owl-item">
								<div class="box-shadow-item learner_border" [ngClass]="{'active_currentpage':globals.currentLink=='/learner-courses'}">
									<img src="../assets/images/my course.jpg" class="img-responsive" alt="" />
									<div class="figercaption text-center">
										<span><a routerLink="/learner-courses">View
												Screen</a></span>
									</div>
									<div class="screen_title">
										Your Course
									</div>
								</div>
							</div>
							<div class="owl-item">
								<div class="box-shadow-item learner_border" [ngClass]="{'active_currentpage':globals.currentLink=='/calendar'}">
									<img src="../assets/images/events.jpg" class="img-responsive" alt="" />
									<div class="figercaption text-center">
										<span><a routerLink="/calendar">View Screen</a></span>
									</div>
									<div class="screen_title">
										Scheduler
									</div>
								</div>
							</div>
							<div class="owl-item">
								<div class="box-shadow-item learner_border" [ngClass]="{'active_currentpage':globals.currentLink=='/certificate'}">
									<img src="../assets/images/certificate.jpg" class="img-responsive" alt="" />
									<div class="figercaption text-center">
										<span><a routerLink="/certificate">View Screen</a></span>
									</div>
									<div class="screen_title">
										Certificates & Badges
									</div>
								</div>
							</div>
							
							<div class="owl-item">
									<div class="box-shadow-item instructor_border" [ngClass]="{'active_currentpage':globals.currentLink=='/instructor-course-form'}">
										<img src="../assets/images/instructorcourseform.jpg" class="img-responsive" alt="" />
										<div class="figercaption text-center">
											<span><a routerLink="/instructor-course-form">View Screen</a></span>
										</div>
										<div class="screen_title">
												Course Form
										</div>
									</div>
								</div>
								<div class="owl-item">
										<div class="box-shadow-item instructor_border" [ngClass]="{'active_currentpage':globals.currentLink=='/instructor-courses'}">
											<img src="../assets/images/courselist.jpg" class="img-responsive" alt="" />
											<div class="figercaption text-center">
												<span><a routerLink="/instructor-courses">View Screen</a></span>
											</div>
											<div class="screen_title">
													Courses List
											</div>
										</div>
									</div>
		
							<!-- <div class="owl-item">
								<div class="box-shadow-item instructor_border" [ngClass]="{'active_currentpage':globals.currentLink=='/instructor-course-form'}">
									<img src="../assets/images/carousel.png" class="img-responsive" alt="" />
									<div class="figercaption text-center">
										<span><a routerLink="/instructor-course-form">View
												Screen</a></span>
									</div>
									<div class="screen_title">
										Course Form
									</div>
								</div>
							</div>
							<div class="owl-item">
								<div class="box-shadow-item instructor_border" [ngClass]="{'active_currentpage':globals.currentLink=='/instructor-courses'}">
									<img src="../assets/images/carousel.png" class="img-responsive" alt="" />
									<div class="figercaption text-center">
										<span><a routerLink="/instructor-courses">View
												Screen</a></span>
									</div>
									<div class="screen_title">
										Courses List
									</div>
								</div>
							</div> -->
							
							
										</div>
										<div class="clearfix"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="clearfix"></div>
					<div class="footer_fixed_header">
							<span class="pull-left">15 Screens</span>
							<div class="alert-close pull-right">×</div>
							<div class="courses_li pull-right">
								<ul>
									<li><span class="info"></span>Welcome and Profile</li>
									<li><span class="success"></span>Admin</li>
									<li><span class="warning"></span>Learner</li>
									<li><span class="danger"></span>Instructor</li>
								</ul>
							</div>
							
						</div>
				</div>
				
				<div class="footer_bottom">
					<div class="screen_black">
						<a class="logo_oe"><img src="../assets/images/landing_logo.png" class="img-responsive" alt="" /></a> 
						<i class="fa fa-angle-double-right"></i>
						<a routerLink="/link-list">All Screens</a>
						<i class="fa fa-angle-double-right"></i>
						<span>{{globals.currentLinkName}}<i class="fa fa-angle-double-down"></i></span>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="clearfix"></div>
	<div class="container">
	  <div class="row"> 
		<!-- Logo -->
		<div class="col-md-2 col-sm-3 col-xs-4">
			<div class="logo">
				<a class="logo_text pull-left"><img src="../assets/images/logo.png" class="img-responsive" alt="" /></a>
				<button class="pull-right toggle left_menu_toggle" href="#"><i class="fa fa-dedent"></i></button>
			</div>
		</div>
		<!-- End Logo --> 
		  
		<!-- Profile -->
		<div class="col-md-10 col-sm-9 col-xs-8">
				<!-- <div class="header_left pull-left"><a routerLink="/link-list"><i class="fa fa-chevron-left" aria-hidden="true"></i></a></div> -->
		<div class="header_right pull-right"><ul class="notification">
				<li class="user_indicator">
					<span *ngIf="globals.authData.RoleId==1">SuperAdmin</span>
					<span *ngIf="globals.authData.RoleId==2">Admin</span>
					<span *ngIf="globals.authData.RoleId==3">Instructor</span>
					<span *ngIf="globals.authData.RoleId==4">Learner</span>
				</li>
				<li><a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true"><i class="fa fa-comments-o" aria-hidden="true"></i><span class="badge1">3</span></a></li>
				<li><a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i><span class="badge2">5</span></a></li>
				<li><a href="#"><i class="fa fa-life-ring" aria-hidden="true"></i></a></li>
			<div class="clearfix"></div>
			</ul>

			<div class="account_menu">
				<ul>
					<li><a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true"><span class="user_img"><img src="../assets/images/guy-6.jpg" alt="" class="img-responsive"/></span>{{globals.authData.FirstName}} {{globals.authData.LastName}}<span class="caret"></span></a>
					  <ul class="dropdown-menu">
						<li class="completeness_li">
							Profile Completeness
							<div class="progress">
							  <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
							</div>
						</li>
						<li>
								<a routerLink="/edit-profile"><i class="fa fa-user"></i>My Profile</a>
							<!-- <a routerLink="/edit-profile-admin" *ngIf="globals.authData.RoleId==1 || globals.authData.RoleId==2"><i class="fa fa-user"></i>My Profile</a>
							<a routerLink="/edit-profile-instructor" *ngIf="globals.authData.RoleId==3"><i class="fa fa-user"></i>My Profile</a>
							<a routerLink="/edit-profile-learner" *ngIf="globals.authData.RoleId==4"><i class="fa fa-user"></i>My Profile</a> -->
						</li>
						<li><a href="#"><i class="fa fa-cog"></i>Setting</a></li>
						<li><a (click)="logout()"><i class="fa fa-sign-out" aria-hidden="true"></i>Sign Out</a></li>
					  </ul>
					</li>
					<div class="clearfix"></div>
				</ul>
			</div></div>
		</div>
		<!-- End Profile -->
		<div class="clearfix"></div>
	  </div>
	</div>
</header>
<div class="clearfix"></div>


