<!-- Header Section -->
<header>
	<div class="container">
	  <div class="row"> 
		<!-- Logo -->
		<div class="col-md-2 col-sm-3 col-xs-2">
			<div class="logo">
				<a class="logo_text pull-left"><img src="../assets/images/logo.png" class="img-responsive" alt="" /></a>
				<button class="pull-right toggle left_menu_toggle" href="#"><i class="fa fa-dedent"></i></button>
			</div>
		</div>
		<!-- End Logo --> 
		  
		<!-- Profile -->
		<div class="col-md-10 col-sm-9 col-xs-10">
				<div class="header_left pull-left"><a routerLink="/link-list"><i class="fa fa-chevron-left" aria-hidden="true"></i></a></div>
		<div class="header_right pull-right"><ul class="notification">
				<li class="user_indicator">
					<span *ngIf="globals.authData.RoleId==1">SuperAdmin</span>
					<span *ngIf="globals.authData.RoleId==2">Admin</span>
					<span *ngIf="globals.authData.RoleId==3">Instructor</span>
					<span *ngIf="globals.authData.RoleId==4">Learner</span>
				</li>
				<li><a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true"><i class="fa fa-comments-o" aria-hidden="true"></i><span class="badge1">3</span></a></li>
				<li><a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i><span class="badge2">5</span></a></li>
				<li><a href="#"><i class="fa fa-life-ring" aria-hidden="true"></i></a></li>
			<div class="clearfix"></div>
			</ul>

			<div class="account_menu">
				<ul>
					<li><a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true"><span class="user_img"><img src="../assets/images/guy-6.jpg" alt="" class="img-responsive"/></span>{{globals.authData.FirstName}} {{globals.authData.LastName}}<span class="caret"></span></a>
					  <ul class="dropdown-menu">
						<li class="completeness_li">
							Profile Completeness
							<div class="progress">
							  <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
							</div>
						</li>
						<li>
								<a routerLink="/edit-profile"><i class="fa fa-user"></i>My Profile</a>
							<!-- <a routerLink="/edit-profile-admin" *ngIf="globals.authData.RoleId==1 || globals.authData.RoleId==2"><i class="fa fa-user"></i>My Profile</a>
							<a routerLink="/edit-profile-instructor" *ngIf="globals.authData.RoleId==3"><i class="fa fa-user"></i>My Profile</a>
							<a routerLink="/edit-profile-learner" *ngIf="globals.authData.RoleId==4"><i class="fa fa-user"></i>My Profile</a> -->
						</li>
						<li><a href="#"><i class="fa fa-cog"></i>Setting</a></li>
						<li><a (click)="logout()"><i class="fa fa-sign-out" aria-hidden="true"></i>Sign Out</a></li>
					  </ul>
					</li>
					<div class="clearfix"></div>
				</ul>
			</div></div>
		</div>
		<!-- End Profile -->
		<div class="clearfix"></div>
	  </div>
	</div>
</header>
<div class="clearfix"></div>
