<div class="title_heading">
	<div class="col-md-4 col-sm-4">
		<div class="title_text">
			<i class="fa fa-list" aria-hidden="true"></i>Course Catalog
		</div>
	</div>
	<div class="col-md-8 col-sm-8">
		<div class="welcome_message alert" role="alert">
			<i class="fa fa-info"></i>Welcome back, <strong>Super Admin!</strong> You last sign in at 16:54 PM on 09/20/2018
			<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		</div>
	</div>
	<div class="clearfix"></div>
	<div class="breadcrumb_block">
		<div class="col-md-6 col-sm-6">
			<ul class="breadcrumb">
				<li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i></a></li>
				<li class="breadcrumb-item"><a href="#">Courses</a></li>
				<li class="breadcrumb-item active" aria-current="page">Catalog</li>
			</ul>
			<div class="clearfix"></div>
		</div>
		<div class="col-md-6 col-sm-6">

		</div>
		<div class="clearfix"></div>
	</div>
	<div class="clearfix"></div>
</div>
<div class="content_block">
	<div class="col-md-9 col-sm-9">
		<div class="course_list_block">
			<div class="list_grid">
				<button class="grid_btn active"><i class="fa fa-th"></i></button>
				<button class="list_btn"><i class="fa fa-list"></i></button>
			</div>
			<div class="row">
				<div class="col-md-4 col-sm-6">
					<div class="course_box">
						<div class="course_img"><a routerLink="/course-detail"><img src="assets/images/l1.jpg" alt="" class="img-responsive" /></a></div>
						<div class="content">
							<div class="course_title"><a routerLink="/course-detail">Angular Material 2 Design For Programmers and CSS Newbies</a></div>
							<div class="stars_block"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star" aria-hidden="true"></i><i
								 class="fa fa-star-half-o" aria-hidden="true"></i><i class="fa fa-star-o"></i></div>
							<div class="desc_block">
								<p>User experience can be a game changer! A million dollar product could go to trash if it fails to grab eyeballs given the miniscule amount of time a user spends to make that decision. So, it is extremely important to take UX seriously. Further, it is one of the most interesting areas to explore.</p>
							</div>
							<h3 class="instructor"><img src="../assets/images/guy-6.jpg" alt="" class="img-responsive" />Adrian Demian<span>Biography</span></h3>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-6">
					<div class="course_box">
						<div class="course_img"><a routerLink="/course-detail"><img src="assets/images/l2.jpg" alt="" class="img-responsive" /></a></div>
						<div class="content">
							<div class="course_title"><a routerLink="/course-detail">Build Websites from Scratch with HTML & CSS</a></div>
							<div class="stars_block"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"
								 aria-hidden="true"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i></div>
							<div class="desc_block">
								<p>HTML and CSS are the two most important languages for a new web developer to learn. They are also the
									easiest. If you’ve always wanted to build webpages, but were intimidated by the code, this course will help
									you learn your first two languages quickly and easily.</p>
							</div>
							<h3 class="instructor"><img src="../assets/images/guy-6.jpg" alt="" class="img-responsive" />Adrian Demian<span>Biography</span></h3>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-6">
					<div class="course_box">
						<div class="course_img"><a routerLink="/course-detail"><img src="assets/images/l3.jpg" alt="" class="img-responsive" /></a></div>
						<div class="content">
							<div class="course_title"><a routerLink="/course-detail">CSS - The Complete Guide (incl. Flexbox, Grid & Sass)</a></div>
							<div class="stars_block"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star" aria-hidden="true"></i><i
								 class="fa fa-star-o"></i><i class="fa fa-star-o"></i></div>
							<div class="desc_block">
								<p>we start at the very basics (What is CSS? How does it work? How do you use it)? and gradually dive in deeper
									and deeper. And we do this by showing both practical examples as well as the theory behind it.</p>
							</div>
							<h3 class="instructor"><img src="../assets/images/guy-8.jpg" alt="" class="img-responsive" />Rick Brown<span>Biography</span></h3>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-6">
					<div class="course_box">
						<div class="course_img"><a routerLink="/course-detail"><img src="assets/images/l4.jpg" alt="" class="img-responsive" /></a></div>
						<div class="content">
							<div class="course_title"><a routerLink="/course-detail">Learn Web Designing & HTML5/CSS3 Essentials in 4-Hours</a></div>
							<div class="stars_block"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star" aria-hidden="true"></i><i
								 class="fa fa-star"></i><i class="fa fa-star"></i></div>
							<div class="desc_block">
								<p>PSD to HTML5/CSS3 is a simple course that will teach you to take a Photoshop Mockup Design and hand-code it
									into a beautiful, semantic, valid HTML5 & CSS3 website.</p>
							</div>
							<h3 class="instructor"><img src="../assets/images/guy-8.jpg" alt="" class="img-responsive" />Rick Brown<span>Biography</span></h3>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-6">
					<div class="course_box">
						<div class="course_img"><a routerLink="/course-detail"><img src="assets/images/l5.jpg" alt="" class="img-responsive" /></a></div>
						<div class="content">
							<div class="course_title"><a routerLink="/course-detail">HTML5, CSS3 & JavaScript Workshop: Build 7 Creative
									Projects</a></div>
							<div class="stars_block"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star" aria-hidden="true"></i><i
								 class="fa fa-star"></i><i class="fa fa-star-half-o" aria-hidden="true"></i></div>
							<div class="desc_block">
								<p>This course takes a deep dive into technologies like HTML5, CSS3, JavaScript and jQuery. We're unleashing
									our creativity and building a minimalistic website, while learning and following modern web development trends
									that you'll be able to apply into your future projects.</p>
							</div>
							<h3 class="instructor"><img src="../assets/images/guy-8.jpg" alt="" class="img-responsive" />Rick Brown<span>Biography</span></h3>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-6">
					<div class="course_box">
						<div class="course_img"><a routerLink="/course-detail"><img src="assets/images/l6.jpg" alt="" class="img-responsive" /></a></div>
						<div class="content">
							<div class="course_title"><a routerLink="/course-detail">Step-by-step HTML and CSS for Absolute Beginners</a></div>
							<div class="stars_block"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star" aria-hidden="true"></i><i
								 class="fa fa-star"></i><i class="fa fa-star-o"></i></div>
							<div class="desc_block">
								<p>Want to learn how to create webpages, but feeling intimidated by HTML and CSS? Not sure where to start?
									Step-by-step HTML and CSS for Absolute Beginners is a comprehensive and friendly course designed for beginners
									with NO previous coding or programming experience.</p>
							</div>
							<h3 class="instructor"><img src="../assets/images/guy-8.jpg" alt="" class="img-responsive" />Rick Brown<span>Biography</span></h3>
						</div>
					</div>
				</div>
			</div>
			<div class="pagination_block">
				<ul class="pagination">
					<li class="page-item disabled">
						<a class="page-link" href="#" tabindex="-1">Previous</a>
					</li>
					<li class="page-item active"><a class="page-link" href="#">1</a></li>
					<!-- <li class="page-item active">
				  <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
				</li>
				<li class="page-item"><a class="page-link" href="#">3</a></li> -->
					<li class="page-item disabled">
						<a class="page-link" href="#">Next</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="col-md-3 col-sm-3">
		<div class="course_list_right">
			<div class="category_block">
				<h3>Category</h3>
				<ul>
					<li><a href="">Wordpress<span>11+</span></a></li>
					<li class="active"><a href="">CSS<span>6</span></a></li>
					<li><a href="">Photoshop<span>8+</span></a></li>
					<li><a href="">HTML<span>21+</span></a></li>
					<li><a href="">Bootstrap<span>16</span></a></li>
					<li><a href="">User Interface<span>10</span></a></li>
				</ul>
			</div>
			<div class="clearfix"></div>
			<div class="instrutor_course">
				<h3>Top Instructors</h3>
				<div class="users active">
					<div class="img_box"><img src="../assets/images/guy-8.jpg" alt="" class="img-responsive" /></div>
					<div class="name_box"><i>Rick Brown</i><span>4</span>
					</div>
				</div>
				<div class="users">
					<div class="img_box"><img src="../assets/images/guy-6.jpg" alt="" class="img-responsive" /></div>
					<div class="name_box"><i>Adrian Demian</i><span>2</span>
					</div>
				</div>
				<div class="users">
					<div class="img_box">BW</div>
					<div class="name_box"><i>Brielle Williamson</i><span>1</span>
					</div>
				</div>
				<div class="users">
					<div class="img_box">SG</div>
					<div class="name_box"><i>Shane Griffin</i><span>1</span>
					</div>
				</div>
				<div class="users">
					<div class="img_box">MT</div>
					<div class="name_box"><i>Michael Tilahun</i><span>1</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="clearfix"></div>
</div>
<div class="clearfix"></div>