<div class="title_heading">				
	<div class="col-md-4 col-sm-4">
		<div class="title_text">
			<i class="fa fa-calendar" aria-hidden="true"></i>Upcoming Events
		</div>
		</div>
		<div class="col-md-8 col-sm-8">
			<div class="welcome_message alert" role="alert">
				<i class="fa fa-info"></i>Welcome back, <strong>Dave Mattew!</strong> You last sign in at 16:54 PM on 09/20/2018
				 <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			</div>
		</div>
		<div class="clearfix"></div>
		<div class="breadcrumb_block">
			<div class="col-md-6 col-sm-6">
				<ul class="breadcrumb">
					<li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i></a></li>
					<li class="breadcrumb-item active" aria-current="page">Events</li>
				</ul>
				<div class="clearfix"></div>
			</div>
			<div class="col-md-6 col-sm-6">
				<div id="buttons" class="pull-right"></div>
			</div>
			<div class="clearfix"></div>
		</div>
	<div class="clearfix"></div>
</div>
<div class="content_block">
<div class="color_description">
	<ul>
		<li><span style="background: #000;"></span>Course</li>
		<li><span style="background: yellow;"></span>Lecture</li>
		<li><span style="background: red;"></span>Seminar</li>
		<li><span style="background: blue;"></span>Exam</li>
	</ul> 
</div>
   <div class="col-md-12 col-sm-12">
		<div id="calendar"></div>
	</div>
	<div class="clearfix"></div>
</div>
<div class="clearfix"></div>
